<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <!-- This key defines the behaviour of the assert statement and location of debug output in MONO -->
    <!-- <assert assertuienabled="false" logfilename="DebugOutput.txt"/> -->
  </system.diagnostics>
  <appSettings>
    <!-- This key allows the redirection of the settings layout file for ARMSim. -->
    <!-- Leave this key commented out to use the default location of the user app directory. -->
    <!-- <add key="LayoutFileLocation" value="h:\"></add> -->
	
	
    <!-- This key defines which window manager to use. -->
	<!-- The default is "DockingWindows2", which uses modern docking windows. -->
	<!-- Change this to "StaticWindows" if you are experiencing compatibility problems -->
    <add key="DockingWindowStyle" value="DockingWindows2"></add>

    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
